coverage==7.2.*; python_full_version > '3.11.0'
pylint==2.17.*; python_full_version > '3.11.0'
pytest-cov==4.1.*; python_full_version > '3.11.0'
pytest==7.3.*; python_full_version > '3.11.0'

# Using old versions to make it compatible with older Pythons
coverage==6.1.*; python_full_version < '3.11.0'
pylint==1.9.*; python_full_version < '3.11.0'
pytest-cov==4.0.*; python_full_version < '3.11.0'
pytest==7.0.*; python_full_version < '3.11.0'
